:root {
  --bs-body-bg: #f8f9fa;
  --bs-body-color: #2c2c2c;

  --bs-primary: #6c63ff;
  --bs-secondary: #2f3144;
  --bs-light: #D9D6F2;
  --bs-dark: #1b1b1b;

  --kc-primary: #1305a7;
  --kc-primary-hover: #0A5ED6;
}

.card-custom {
  background-color: var(--bs-light);
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}
.card-custom:hover {
  transform: scale(1.01);
}

.btn-editar {
  background-color: var(--bs-secondary);
  color: #ffffff;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.btn-editar:hover {
  background-color: #4b4e68; 
  color: #ffffff;
}

@media (min-width: 768px) {
  main.ms-md-240 {
    margin-left: 240px !important;
  }
   nav.navbar {
      margin-left: 240px;
    }
}

.btn-upload-image {
  display: inline-block;
  background-color: #0366f1;        /* Azul principal */
  color: #fff;                      /* Texto blanco */
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  width: 80%;
  max-width: 100%;
  transition: background-color 0.2s ease-in-out;
  border: 1px solid #0366f1;
}

.btn-upload-image:hover {
  background-color: #0548a7;        /* Azul más brillante al hover */
  border-color: #0548a7;
  color: #fff;                      /* Seguimos con texto blanco */
}

/* Ocultamos el input real */
.btn-upload-image input[type="file"] {
  display: none;
}

/* Responsive móvil */
@media (max-width: 768px) {
  .btn-upload-image {
    font-size: 1.1rem;
    padding: 1rem;
    width: 100%;
  }
}
