body {
  background-color: #f8f9fa;
  margin: 0;
}

.login-container {
  width: 100%;
  max-width: 475px;
  min-height: 650px;
  background-color: #cfcfff;
  border-radius: 35px;
  padding: 60px 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 54px;
}

.login-container img {
  width: 80px;
}

.login-container h3 {
  font-weight: bold;
  margin: 0;
}

.form-wrapper {
  width: 100%;
  max-width: 250px;
}

.form-wrapper form > *:not(:last-child) {
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  .login-container {
    max-width: 393px;
    min-height: 100vh;
    border-radius: 0;
    background-color: #ffffff;
    box-shadow: none;
    padding: 40px 30px;
    gap: 44px;
  }

  .form-wrapper form > *:not(:last-child) {
    margin-bottom: 24px;
  }
}
